<html>
  <head>
    <style>
      body {
        font-family: Helvetica, sans-serif;
        padding-right: 30px;
        padding-left: 30px;
      }
      p {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <div style="text-align: center;">
      <img width="220" alt="image_logo" src="{{record.company.logo_link}}" />
    </div>
    <br />
    <p>Estimado cliente</p>
    <p><b>{{record.party_contact or record.party.rec_name}}</b></p>
    <br />
    Por medio de la presente le hacemos llegar nuestra propuesta de valor.
    <br />
    <br />
    <br />
    <p>Atentamente / Best regards,</p>
    <p>
      <b
        >Director Comercial / Sales Manager |
        {{record.company.party.commercial_name}}</b
      >
    </p>
    <p />

    <p>{{record.company.party.addresses[0].street}}</p>
    <p>{{record.company.party.city_name}}</p>
    <p>Teléfono {{record.company.party.phone}}</p>
    <p>Cel. {{record.company.party.mobile}}</p>
    <p>
      <a href="{{record.company.party.website}}">
        {{record.company.party.website}}
      </a>
    </p>
    <div style="margin-top: 30px; margin-bottom: 10px;">
      <img
        alt="Software for hotels"
        src="https://res.cloudinary.com/presik-com/image/upload/v1661200297/banner_emails_jumq4s.png"
      />
    </div>
    <p style="text-align: center;">
      <a href="https://www.presik.com" style="color: #554400ff;">
        Powered by presik.com
      </a>
    </p>
  </body>
</html>
